@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@layer base {
  form {
    @apply bg-gray-200 w-5/6 mx-auto rounded-md p-5 my-5;
  }
}

@layer components {
  .form-control {
    @apply flex flex-col mb-3 text-black;
  }

  .form-control > input {
    @apply border-b border-black rounded-md bg-inherit outline-none px-3;
  }
}